.button {
  padding: 5px 8px;

  border: none;
  border-radius: 20px;

  background-color: white;

  color: rgba(54, 53, 52, 1);
  font-size:  1rem;
  font-weight: 600;

  text-wrap: nowrap;
}

.button--added {
  color: var(--color-orange-dark);
}

.button:hover {
  cursor: pointer;

  color: var(--color-orange-dark);
}

.quantityBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 1.5rem;
  width: 1.5rem;

  border: none;
  background-color: var(--color-orange-bright);

  color: var(--color-black);
  font-size: 1.25rem;
  line-height: 1;
}

.quantityBtn--delete {
  transform: translateY(2px);
}

.quantityBtn svg {
  display: block;
  height: 18px;
  width: 16px;

}

.quantityBtn:hover {
  cursor: pointer;

  color: var(--color-orange-dark);
}
