.button {
  padding: 5px 8px;

  border: none;
  border-radius: 20px;

  background-color: white;

  color: rgba(54, 53, 52, 1);
  font-size: 1rem;
  font-weight: 600;

  text-wrap: nowrap;

  cursor: pointer;
}

.button--buyNow {
  padding: 12px 24px;

  border-radius: 60px;

  background-color: var(--color-orange-dark);
  color: white;
}

.button--buyNow:hover {
  background-color: var(--color-orange-bright);
}

.button--added,
.button:hover {
  color: var(--color-orange-dark);
}

.quantityBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 1.5rem;
  width: 1.5rem;

  border: none;
  background-color: var(--color-orange-bright);

  color: var(--color-black);
  font-size: 1.25rem;
  font-weight: 700;

  line-height: 1;
}

.quantityBtn--delete {
  transform: translateY(2px);
}

.quantityBtn--close {
  background-color: var(--color-black);
}

.quantityBtn svg {
  display: block;
  height: 18px;
  width: 16px;
}

.quantityBtn:hover {
  cursor: pointer;

  color: var(--color-orange-dark);
}

.dialog:open {
  position: absolute;
  top: calc((100dvh - 235px) / 2);
  left: calc(50% - 200px);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1.5rem;

  height: 270px;
  width: 400px;

  background-color: var(--color-black);
  color: var(--color-orange-bright);

  border: none;
  border-radius: 30px;
}

.dialog__header {
  display: flex;
  justify-content: flex-end;

  width: 100%;
}

.dialog img {
  height: 48px;
}

.dialog__carRideKeyFr {
  animation: carRide 2500ms ease-in-out forwards;
  animation-delay: 0ms;
}

.dialog__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog__textBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog__textBox > strong {
  font-size: 2.5rem;
}

.dialog__textBox > p {
  font-size: 1.5rem;
}

.navBtn {
  display: flex;

  padding: 0;

  color: white;
  background-color: var(--color-black);
  border: none;
}

.navBtn svg {
  display: block;
  height: 22px;
  width: 24px;
}

.navBtn:hover {
  cursor: pointer;

  color: var(--color-orange-dark);
}

@keyframes carRide {
  0% {
    transform: translateX(-150px) rotate(0);
  }
  100% {
    transform: translateX(150px) rotate(-15deg);
  }
}
