/* RESPONSIV Desktop */
@media screen and (max-width: 1278px) {
  /* Global */
  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 700;
  }

  /* Global End */
  /* Content */
  .content__basketWrapper {
    width: 300px;
  }

  .dish__image {
    height: 100px;
    width: 160px;
  }
  /* Content END */
  /* Basket */
  .basket__dish {
    font-size: 1rem;
  }

  .quantityBtn svg {
    height: 16px;
    width: 14px;
  }

  .dish__price > p {
    font-size: 1.25rem;
    font-weight: 700;
  }
  /* Basket END */
}
/* RESPONSIVE Desktop ENDE*/

/* RESPONSIVE Mobile */
@media screen and (max-width: 991px) {
  /* Global */
  ::-webkit-scrollbar {
    display: none;
  }
  /* Global END */
  /* Content */
  #burger-menu-id {
    display: none;
  }

  .content__basketWrapper {
    display: none;
  }

  .basket {
    padding: 2rem 8rem;
  }

  .basketMobile {
    display: flex;
  }

  .basketMobile ::-webkit-scrollbar {
    display: flex;
  }

  /* Content END */
  /* Footer */
  .footer {
    height: auto;

    padding-top: 1rem;
    padding-bottom: 6rem;
  }

  .mobileNavBar {
    display: flex;
  }
  /* Footer END */
}

@media screen and (max-width: 768px) {
  /* Global */
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }
  /* Global END */
  /* Header */
  .header {
    height: 80px;
  }

  .header img {
    height: 30px;
  }
  /* Header END */
  /* Content */
  .hero {
    padding-bottom: 3rem;
    gap: 5rem;
  }

  .hero__logo {
    top: 300px;
    left: max(50% - 80px, 2rem);

    height: 160px;
  }

  .hero__image {
    height: 300px;
  }

  .hero__titleInnerContainer {
    flex-direction: column-reverse;

    gap: 0;
  }

  .hero__subtitle {
    font-size: 1.25rem;
  }

  .category__header {
    justify-content: center;
    padding: 0;
  }

  .dish {
    flex-direction: column;
  }

  .dish__image {
    width: 100%;
  }

  .basket {
    padding: 2rem 5rem;
  }

  .dialog:open {
    top: calc((100dvh - 200px) / 2);
    left: calc(50% - 150px);

    height: 200px;
    width: 300px;
  }

  .dialog img {
    height: 32px;
  }

  .dialog__textBox > strong {
    font-size: 2rem;
  }

  .dialog__textBox > p {
    font-size: 1rem;
  }

  @keyframes carRide {
    0% {
      transform: translateX(-100px) rotate(0);
    }
    100% {
      transform: translateX(100px) rotate(-15deg);
    }
  }

  /* Content END */
  /* Footer */

  .footer__innerContainer {
    flex-direction: column-reverse;

    gap: 0;
  }

  .footer__navList {
    align-items: center;
    flex-direction: column;
    gap: 0;
  }
  /* Footer END */
}

@media screen and (max-width: 480px) {
  /* Header */
  .header {
    height: 72px;
  }

  .header img {
    height: 24px;
  }
  /* Header END */
  /* Content */
  .hero__logo {
    top: 292px;
  }
  
  .dish__descriptionContainer {
    flex-direction: column;
    gap: 1rem;
  }

  .dish__price {
    flex-direction: row;
  }

  .basket {
    padding: 2rem 3rem;
  }
  
  .basketMobile {
    padding-bottom: 72px;
    transform: translateY(calc(100dvh - 72px));
  }
  
  .basketMobile__open {
    transform: translateY(0);
  }
  /* Content END */
  /* Footer */
  .mobileNavBar {
    height: 72px;
  }

  .navBtn svg {
    height: 18px;
  width: 20px;
  }
  /* Footer END */
}
/* RESPONSIVE Mobile END*/
